*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root{
    --color1: rgb(85, 110, 193);
    --color2: rgb(41, 41, 41);
}

body{
    margin-top: 2rem;
}

#caja{
    display:flex;
    /* Para que abarquen todo el espacio y se aprecien mejor las cards */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.8rem;
    width: 20%;
    height: 300px;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.183) 0px 5px 15px;
    transition: all 400ms ease;

    
}
.card:hover{
transform: scale(1.1);
transform: translateY(-25px);
}

.img {
    width: 10rem;
    border-radius: 50%;
}
.txtH2 {
    margin-top: 0.5rem;
    color: var(--color1);
    font-size: 1.5rem;
    font-style:italic;
    font-weight: normal;
}
.txtp{
    margin-top: 0.3rem;
    color: var(--color2);
    text-align: center;
    font-size: 0.8rem;
}